.todo{
    width:  100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(252, 252, 252, 0.466);
}

.imagen{
    border-radius: 10px;
}
.imagen2{
    width: 41vw;
    margin-left: 13vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.container2{
    display: inline-block;
    margin-left: 4vh;
    background-color: rgba(253, 253, 253, 0.897);
    width: 25vw;
    border-top-right-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    padding-top: 20px;
    padding-left: 40px;
    overflow:auto
}

.container1{
    display: inline-flex;
    margin-top: 0px;
    overflow: visible;
    height: 700px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.801);
}

.calorias{
    background-color: rgba(226, 226, 223, 0.685);
    border-radius: 1000px;
    text-align: center;
    height: 50px;
}


.status{
    background-color: rgb(255, 176, 130);
    border-radius: 10px;
    text-align: center;
    padding-bottom: 5px;
    margin-top: 30px;

}

.ingredientes{
    padding-right: 1000px;
    background-color: rgba(255, 228, 196, 0.253);
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-radius: 8px;
}

.name{
    display: inline;
    font-size: 45px;
}

.peso{
    display: inline;
    margin-left: 4px;
    font-size: 30px;
    color: rgb(161, 158, 158);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.descripcion{
   max-width: 500px;
   display: flex;
   flex-direction: row;
   font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding-bottom: 10px;
   color: rgb(151, 149, 149);
}

.ingretitulo{
    font-size: 20px;
}

.ingretexto{
    font-size: 16px;
}

.boton{

        display: flex;
        font-size: 20px;
        padding-top: 10px;
}
.container3{
    background-color: white;
    margin-top: 100px;
    border: 2px solid black;
    height: 800px;
}

.botonatras{
    background-color: rgb(255, 255, 255);
    height: 60px;
}