.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 5vw
}

.platos{
  margin-top: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e9e9e9;
  width: 100%;
  padding: 5vh 0 5%;
  border-bottom: solid rgb(85, 85, 85) 1px;
}

.page{
  margin-top: 5vh;
}