.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteinerCards{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #effff5;
  width: 100%;
  padding-top: 5%;
}

.btnMas{
  background-color: #2F695C;
  width: fit-content;
  color: white;
  font-size: 30px;
  font-weight: 600;
  border: none;
  margin: 5%;
  padding: 15px 60px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btnMas:hover{
  background-color: #4b6963;
  border: none;
  color: rgb(33, 33, 33);
}

.inicio{
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e9e9e9;
  width: 100%;
  padding: 5vh 0 5%;
}

.title{
  font-size: 50px;
  font-weight: 600;
  color: #2F695C;
  width: fit-content;
}

.img{
  border-radius: 400px 168px 316px 50px;
  -webkit-border-radius: 400px 168px 316px 50px;
  -moz-border-radius: 400px 168px 316px 50px;
}

.li{
  font-size: 30px;
  font-weight: 600;
  margin: 2.5% 0;
}

.svg{
  margin: 0 2%;
}