.container{
    display: flex;
    margin-left: 0px;
    font-weight: 900;
    margin-top: 20px;
}


.comida{
    margin-bottom: 30px;
}
.botoncomida {
    border: 1px solid rgba(0, 0, 0, 0.466);
    background-color: transparent;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 30px;
    font-weight: bolder;
    height: 40px;
    width: 100px;
  }
.botoncomida2 {
    border: 1px solid black;
    font-weight: bolder;
    cursor: pointer;
    background-color: #070707;
    color: #ffffff;
    margin-left: 20px;
    border-radius: 30px;
    height: 40px;
    width: 100px;
}

.botoncomida:hover{
    border: 1px solid black;
    background-color: #070707;
    color: #ffffff;
    font-weight: bolder;
    height: 40px;
    width: 100px;

    margin-left: 20px;
    border-radius: 30px;
}
.searchbar{
    margin-top: 40px;
    margin-left: 500px;
}



