.container{
    display: flex;
    margin-left: 100px;
}


.comida{
    margin-bottom: 30px;
}
.botoncomida {
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 30px;
    font-weight: bolder;
  }
.botoncomida2 {
    border: 1px solid black;
    font-weight: bolder;
    cursor: pointer;
    background-color: #070707;
    color: #ffffff;
    margin-left: 20px;
    border-radius: 30px;
}

.botoncomida:hover{
    border: 1px solid black;
    background-color: #070707;
    color: #ffffff;
    font-weight: bolder;

    margin-left: 20px;
    border-radius: 30px;
}
.searchbar{
    margin-left: 500px;
}


