.loginPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f695c; 
  
  }
  
  .loginContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 60px; 
    background-color: #dbe9e9; 
  }
  
  .inputContainer {
    margin-bottom: 15px;
  }
  
  .inputError {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  
  .inputContainer input[type="email"],
  .inputContainer input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 15px; 
    padding: 10px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .submitButton {
    background-color: #ff9500;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
  }
  
  .buttonSub{
      display: flex;
      justify-content: center;
  }
  
  .submitButton:hover {
    background-color: #d67d00; 
  }
  
  .loginHeading {
    text-align: center;
    margin-bottom: 20px; 
    font-size: 35px;
    color: #2f695c; 
    font-family: Lobster, cursive;
    font-weight: bold; 
  }
  
  .introText {
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    color: #2f695c; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold; 
  }
  
  .forgetandcreate a{
   text-decoration: none;
  color:  #2f695c;
  }
  
  .forgetandcreates{
   
  text-align: center;
  }
  .forgetandcreates a{
   text-decoration: none;
  color:  #2f695c;
  text-align: center;
  }