/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F695C;
  position: fixed;
  height: 110px;
  width: 100%;
  top: 0;
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.nav-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px; 
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  font-family: "DM Serif Display", serif;
  position: relative;
  
}
.nav-link2 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px; 
  color: #000000;
  text-decoration: none;
  position: relative;
  
}
p {
  font-size: 30px;
  font-family: "DM Serif Display", serif;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.6s ease;
}

.nav-link:hover::before {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 10px;
}



.nav-logo {
  width: 60px;
  height: 30px;
  margin-left: 10px; 
  cursor: pointer;
} */

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F695C;
  position: fixed;
  height: 110px;
  width: 100%;
  top: 0;
}

.navLinksContainer {
  display: flex;
  align-items: center;
}

.navLink {
  background-color: transparent;
  border: none;
 
  cursor: pointer;
  padding: 10px 20px; 
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  font-family: "DM Serif Display", serif;
  position: relative;
}

.navLink2 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px; 
  color: #000000;
  text-decoration: none;
  position: relative;
}

.parrafo{
text-decoration: none;
font-size: 35px;
color: black;
font-family: "DM Serif Display", serif;
}

.navLink::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.6s ease;
}

.navLink:hover::before {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 10px;
}

.navLogo {
  width: 60px;
  height: 30px;
  margin-left: 10px; 
  cursor: pointer;
}
